<?php
declare(strict_types=1);

namespace OP\Tasks\Config;

class Config {
    // настройки базы данных
    public const DB_DRIVER='mysql';
    public const DB_HOST='';
    public const DB_PORT='';
    public const DB_NAME='';
    public const DB_USER='';
    public const DB_PASSWORD='';
}
